altgraph==0.17.4
Babel==2.14.0
customtkinter==5.2.2
darkdetect==0.8.0
Faker==21.0.0
packaging==23.2
pefile==2023.2.7
pyinstaller==6.0.0
pyinstaller-hooks-contrib==2023.9
pywin32-ctypes==0.2.2
tk==0.1.0
tkcalendar==1.6.1
typing_extensions==4.4.0


























